<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Animations</h1>
      <button (click)="onAnimate()" class="btn btn-primary">Animate!</button>
      <button (click)="onShrunk()" class="btn btn-primary">Shrink!</button>
      <hr>
      <div 
        style="width: 100px; height: 100px; margin-bottom: 15px"
        [@divState]="state">
      </div>
      <div 
        style="width: 100px; height: 100px"
        [@wildState]="wildState">
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <input type="text" #input>
      <button class="btn btn-primary" (click)="onAdd(input.value)">Add Item!</button>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          (click)="onDelete(item)"
          *ngFor="let item of list">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          (click)="onDelete(item)"
          *ngFor="let item of list">
          {{ item }}
        </li>
      </ul>
    </div>
</div>
